body {
    background-color : #559911;
}
* {
  box-sizing: border-box;
}

h1 {
    padding:auto;
  margin-bottom: 15px;
  border: 1px solid black;
  background-color :#ad4568 ;
  font-family: arial;
  font-size:20;
  
}
span {
    background-color: yellow;
    color: gray;
    float:right;
    padding-bottom :5px;
}
p {
  border: 1px solid black;
  background-color: #00ddff;
  width: 80%;
  height: 150px;
  
  font-family: arial;
  font-size:16px;
  color: white;
  
}

.container {
    width :100%;
}

@media (min-width: 992px) {
   .col-lg-4, .col-lg-8,  .col-lg-12 {
    float: left;
    border: 1px solid green;

  }
 
  .col-lg-4 {
    width: 33.33%;
  }
 
  .col-lg-8 {
    width: 66.66%;
  }
  
 
  .col-lg-12 {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
   .col-md-6, .col-md-12 {
    float: left;
    border: 1px solid green;

    
  }
  
  .col-md-6 {
    width: 50%;
  }
  
  .col-md-12 {
    width: 100%;
  }
}

@media (max-width: 767px) {
   .col-sm-12 {
    float: left;
    border: 1px solid green;
    
    
  }
 
  .col-sm-12 {
    width: 100%;
  }
}