.navbar-brand {
    width:100%;
    color:#030100;
    background-color : #999999;
    text-align:left-side;
    
}
.text-center {
    font-size:24px;
    font-family: Georgia, Serif;
}
 p{
     text-align: center;
    color: #692138;
    
}
* {
	box-sizing: border-box;
}
span{
    color:#001B95;
    font-size:16px;
}
#box1 {
    margin:5px;
    padding:1%;
    background-color : #999999;
}
#box2 {
    margin:5px;
    padding:1%;
    background-color : #999999;
}
#box3 {
    margin:5px;
    padding:1%;
    background-color : #999999;
    
}

.container {

    width:100%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-12 {
    float: left;
  }
 .col-md-12 {
    width: 100%;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .col-sm-12 {
    float: left;
  }
 .col-sm-12 {
    width: 100%;
  }
}
@media (max-width: 575px) {
  .col-xs-12 {
    float: left;
  }
 .col-xs-12 {
    width: 100%;
  }
 
}


